@inject DadosCarteiras dados

@if (SaqueOk is null||SaqueOk == false)
{
<p>valor para saque</p>
<input type="number" @bind=Valorsaque/>
<br><br>
<button @onclick=sacarOK > Confirmar saque</button>
}
@if (SaqueOk is not null )
{
    @if (SaqueOk != false)
    {
        
            <h1>saque Realizado com sucesso!</h1>
            <p>Resumo</p>
            <br>
            <p>Valor: @Valorsaque</p>
            <br>
            <p>Data: @DateTime.Now.ToLongDateString() </p>
        
    }

    else
    {
        <h1>Erro! não foi possivel realizar está operação</h1>
    }
}



@code {
    [Parameter]
    public Carteira Conta { get; set; }
    bool? SaqueOk = null;
    double Valorsaque;
    DateTime hora = DateTime.Now;
    TimeSpan HoraInicial = new TimeSpan(8, 0, 0);
    TimeSpan Horafinal = new TimeSpan(18, 0, 0);

    public void sacarOK()
    {
        if (Valorsaque <= Conta.Saldo && hora.TimeOfDay >= HoraInicial && hora.TimeOfDay <= Horafinal)
            {
                SaqueOk = true;
                Conta.Sacar(Valorsaque);

            }

            else
            {
                SaqueOk = false;
            }
        }

        
    
}
